<div class="panel panel-default">
  <div class="panel-heading">Usuarios</div>
  <div class="panel-body">
    <%= render partial: 'layouts/search_form', locals: { search_entity: 'users', word: "User" } %>
    <br>
    <div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
      <p>
      <%if (current_user.admin) %>
        <%= button_to new_user_path, {method: :get, class: "btn btn-success"} do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nuevo User
        <% end %>
      <% end %>

                                    <div style="margin-top: 40px;">
       <%= link_to " Imprimir Usuarios", users_path(@user, format: "pdf") %>
              </div>
      </p>
    </div>
  </div>
  <%= render partial: 'results_search' %>
</div>

