<% content_for :content_header  do %>
    <section class="content-header" >
      <h1>Marca</h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Unidades</a></li>
        <li><%= link_to "Marca", units_path %></li>
        <li class="active">Mostrar</li>
      </ol>
    </section>
<% end %>

<section class="content invoice botones">

 <p>
    <strong>Nombre:</strong>
    <%= @unit.name %>
  </p>
  

  <%= link_to 'Editar', edit_unit_url,:class =>"btn btn-warning" %>
  <%= link_to 'Atras', units_url,:class =>"btn btn-info" %>
</section>